@import './../../../../commonScss/colors.scss';
@import './../../../../commonScss/fonts.scss';

.search_city {
    // position: relative;


    &_btn {
        width: 58px;
        height: 58px;
        background: linear-gradient(116.79deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 99.45%);
        border-radius: 20px;
        border: none;
        z-index: 3;
        position: absolute;
        right: 34px;
        top: 73px;
        cursor: pointer;

        &:hover {
            background: linear-gradient(116.79deg, rgba(255, 255, 255, 0.48) 100%, rgba(255, 255, 255, 0.12) 99.45%);
        }

        // &_absolute {
        //     position: absolute;
        //     right: 0px;
        // }


        &_logo {}
    }

    &_wrp {
        min-width: 600px;
        margin: 0 auto;
        position: absolute;
        right: 0px;
        top: 0px;
        transition: all .5s;

        // &_hidden {
        //     visibility: hidden;
        //     width: 0;
        // }
    }

    &_input {
        box-sizing: border-box;
        background: linear-gradient(116.79deg, rgba(255, 255, 255, 0.48) -41.94%, rgba(255, 255, 255, 0.12) 57.51%);
        backdrop-filter: blur(50px);
        border-radius: 20px;
        border: none;
        outline: none;
        min-height: 58px;
        width: 100%;
        padding-left: 20px;
        font-size: 32px;
        line-height: 120%;
        color: $white;
        position: absolute;
        right: 34px;
        top: 73px;
        transition: all .5s;

        &_hidden {
            visibility: hidden;
            width: 58px;
            opacity: 0;
        }

        &::placeholder {
            color: $white
        }
    }
}