.absolute {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 50%;
    z-index: 1;
}

.city {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    position: relative;
    z-index: 2;

    &_title {
        display: flex;
        justify-content: center;
        max-width: 600px;

        &_hidden {
            visibility: hidden;
        }

        &_txt {
            font-size: 32px;
            line-height: 120%;
        }
    }
}