@import './../../../commonScss/colors.scss';
@import './../../../commonScss/fonts.scss';

$widthClock: 130px;

.title {
    text-align: center;
    font-size: 28px;
line-height: 120%;
}

.clock {
    // $root: &;

    width: $widthClock;
    height: 245px;
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &_hands {
        

        &_span {
            width: 0px;
            height: 22.97px;
            border-left: 4px solid $lightgray;
            border-radius: 50%;
            transform: rotate(-15.65deg);
            position: absolute;
            top: 50px;
            left: calc($widthClock/2);


            &:before {
                content: '';
                position: absolute;
                top: 3px;
                left: -22px;
                width: 0px;
                height: 37.53px;
                border-left: 4px solid $darkgrey;
                border-radius: 50%;
                transform: rotate(-90deg);

            }

            &:after {
                content: '';
                position: absolute;
                top: -23px;
                left: 15px;
                width: 0px;
                height: 53.17px;
                border-right: 2px solid $brightpurple;
                border-radius: 50%;
                transform: rotate(44.33deg);
            }
        }
    }

    &_time {
        font-weight: 400;
        text-align: center;
        font-size: 29px;
line-height: 35px;
    }
}