@import './../../commonScss/colors.scss';
@import './../../commonScss/fonts.scss';

.weather {
    filter: drop-shadow(-4.51px 2.26px 0.75px rgba(0, 0, 0, 0.15));

    &_common {

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 70px 0 70px;


        &_logo {}

        &_temp {
            width: 91.2px;
            height: 40px;
            background: rgba(255, 255, 255, 0.16);
            border-radius: 100px;

            &_btn {
                border: none;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                background-color: transparent;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                color: $white;

                &_active {
                    // border: none;
                    width: 52.8px;
                    height: 40px;
                    background: rgba(255, 255, 255, 0.18);
                    border-radius: 100px;
                }
            }
        }
    }

    &_temp {
        display: inline;
        display: flex;
        justify-content: flex-start;

        &_value {
            // display: inline-block;
            position: relative;
            font-size: 164px;
            font-weight: 200;
            line-height: 120%;
            margin: 0 0 0 70px;
        }

        &_deg {
            font-size: 32px;
            font-weight: 200;
        }
    }

    &_date {
        font-weight: 300;
        font-size: 36px;
        line-height: 120%;
        margin: 0 0 0 70px;
    }

    &_line {
        height: 20px;
        border-left: 1px solid $white;
    }

    &_time {
        font-weight: 300;
        font-size: 24px;
        line-height: 120%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 0 0 40px;
        // position: relative;

        &_txt {
            margin: 0 30px 0 30px;
        }

    }

    &_value {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 0 0 40px;

        &_one {
            display: flex;
            justify-content: space-around;
            margin: 0 30px 0 30px;
        }

        &_txt {
            margin-left: 15px;
            margin-right: 15px;
        }

    }
}

.temp {
    display: flex;
    justify-content: space-between;
    margin-right: 0 0 0 70px;
}